<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>About</title>
  <th:block th:replace="partials/styles :: styles" />
</head>
<nav th:replace="partials/navbar :: navbar"></nav>
<!--<body class="d-flex flex-column min-vh-100">//this ensures the page is viewable and takes up the entire screen view.&ndash;&gt;-->

<!--<nav th:replace="partials/navbar :: navbar"></nav> // this is based on a file called navbar in a partial folder. This will be on every page if this is linked on every page.-->

<!--&lt;!&ndash;<header th:replace ="partials/header:header"></header>&ndash;&gt;-->
<!--<footer th:replace="partials/footer :: footer"></footer>  // this is based on a file called navbar in a partial folder. This will be on every page if this is linked on every page.-->

</body>
</html>
